.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env*
!.env.example
/node_modules
.next
Untitled Session.session*
.bolt/
.agents/